.task1{
    width: 300px;
    height: 300px;
    margin: 11%;
    border-radius: 50%;
    border: 21px solid black;
    animation-name: task1;
    border-top-color: pink;
    animation-duration: 3s;
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.task2{
    width: 300px;
    height: 300px;
    margin-top:11%;
    margin-left:507px;
    border-radius: 50%;
    border: 21px solid black;
    animation-name: task2;
    animation-duration: 3s;
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.task3{
    width: 300px;
    height: 300px;
    margin-top:11%;
    margin-left:851px;
    border-radius: 50%;
    border: 21px solid black;
    animation-name: task3;
    animation-duration: 3s;
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: all 0.2s ease-in-out;     
}

@keyframes task1{
    0%{
        transform: rotate(0deg);
         background-color: white;
         border-top-color: rgb(184, 28, 54);
         color: black;    
         transition: all 0.2s ease-in-out;     
        
    }  
    50%{
        transform: rotate(-180deg);
         background-color:green;
         border-top-color: rgb(208, 35, 208);
         color: black;        
       
    }
    100%{
        transform: rotate(-360deg);
         background-color:white;
         border-top-color: rgb(141, 211, 238);
         color: rgb(168, 57, 57);        
        
    }  
}    

@keyframes task2{
    0%{
        transform: rotate(0deg);
         background-color: white;
         border-top-color: rgb(184, 28, 54);
         color: black;        
        
    }  
    50%{
        transform: rotate(-180deg);
         background-color:green;
         border-top-color: rgb(208, 35, 208);
         color: black;        
       
    }
    100%{
        transform: rotate(-360deg);
         background-color:white;
         border-top-color: rgb(141, 211, 238);
         color: rgb(168, 57, 57);        
        
    }  
}  

@keyframes task3{
    0%{
        transform: rotate(0deg);
         background-color: white;
         border-top-color: rgb(184, 28, 54);
         color: black;        
        
    }  
    50%{
        transform: rotate(-180deg);
         background-color:green;
         border-top-color: rgb(208, 35, 208);
         color: black;        
       
    }
    100%{
        transform: rotate(-360deg);
         background-color:white;
         border-top-color: rgb(141, 211, 238);
         color: rgb(168, 57, 57);        
        
    }  
}  