body{
    height: 100vh;
    width: 100%;
    background-image: url('https://media1.giphy.com/media/4N1FZFE5AGO3qrUGkw/giphy.gif');
    /* background-repeat: no-repeat; */
    background-size: cover;    
}

.bird{
 height: 200px;
 width: 200px;
 background-image: url('https://i.pinimg.com/originals/b9/1c/d3/b91cd3fcbcc3a7ac122bc48bd2344781.gif');
 background-size: cover;
 animation-name: bird;
animation-duration: 3s;
 animation-iteration-count: infinite;
 animation-timing-function: linear;
 position: absolute;
 bottom: 0px;
 left: 0px;

}

@keyframes bird{
    0%{
        bottom:0px;
        left:0px;
    }
    25%{
        bottom:250px;
        left:375px;
    }
    50%{
        bottom:300px;
        left:695px;
    }
    75%{
        bottom:500px;
        left:890px;
    }
    100%{
        bottom:651px;
        left:1000px;
    }
}