ul{
    background-color: aqua;
    font-size: large;
    /* color: red; */

    /* list-style-type: disc; */
    /* list-style-type: armenian; */
    /* list-style-type: decimal; */
    /* list-style-type: decimal-leading-zero; */
    /* list-style-type: lower-alpha; */
    /* list-style-type: upper-alpha; */

    list-style-type: none;
}
li{
    background-color: chartreuse;
    /* margin-left: -40px; */
    /* color: blue; */

    /* list-style-type: square; */
    /* list-style-type: upper-latin; */
    /* list-style-type: lower-greek; */

    /* list-style-type: none; */
}
/* li:first-child{
    color: blueviolet;
}
li:last-child{
    color: yellow;
} */
li:nth-child(2n){
    color: tomato;   
}
