#mySection{
    Color: gray;
} 
    #heading1{
        Color: blue;
    }

    heading2 {
        Color:red}
    #content {
        Color: green}
    #sideview {
        Color :yellow}
    #text1 {
        color: lightblue}
    #text2 {
        color:rgb(232, 102, 102)}