div{
    width: 300px;
    height: 250px;
    border: 20px dashed whitesmoke;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
}


.class1{
        
      background-image: url("image1.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;

      background-origin: padding-box;
      background-origin: content-box;
      background-origin: border-box;
}


.class2{
     
    background-color: black;
    background-size: 100% 100%;
    background-image: url("image2.jpeg");
    background-repeat: no-repeat;

    background-clip: padding-box;
    background-clip: border-box;
   
    
}